# Add the following line to the crontab file for the postgres user
0 21 * * 5 /bin/bash  /home/postgres/atlas-db/cron/refresh_mview_atlas.sh
0 21 * * 5 /bin/bash  psql -d atlas -f /home/postgres/atlas-db/cron/refresh_taxa_partial.sql
0 21 * */4 1 /bin/bash  psql -d atlas -f /home/postgres/atlas-db/cron/refresh_taxa_complete.sql
