# Add the following line to the crontab file for the postgres user
0 21 * * 5 /bin/bash  /home/postgres/atlas-db/cron/refresh_mview_atlas.sh
0 21 * * 5 /bin/bash  /home/postgres/atlas-db/cron/refresh_taxa.sh